services:
  - type: web
    name: neighbour-nest-kyber
    env: python
    region: oregon
    plan: free
    autoDeploy: true

    buildCommand: >-
      apt-get update -y && 
      apt-get install -y cmake build-essential libssl-dev git && 
      pip install --upgrade pip && 
      pip install -r requirements.txt

    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
